/* presets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables colores */
$background: rgb(251, 237, 223);
$primary: rgb(48, 48, 48);
$secondary: rgb(221, 144, 18);
$third: rgba(48, 125, 67, 0.808);


.title {
    font-family: 'Nunito Sans', sans-serif;
} 

.description{
    font-family: 'Quicksand', sans-serif;   
}

.backColor {
    background-color: $background ;
}

.gridContainer {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    
}

.homePage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
    grid-column-gap: 20px;
    width: 180vh;
    height: 100vh;
    min-height: 100vh;
    padding: 20px;
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 50px;
            
            h1 {
                font-size: 60px;
            }

            button {
                font-size: 20px;
            }
        }
}

.servicesContainer {
    padding: 100px;
    width: 180vh;
    height: 100vh;
    min-height: 100vh;
        h1 {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 60px;
        }
        .services {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border: solid;
            border-color: rgba(48, 48, 48, 0.192);
            border-radius: 10px;
            padding: 20px;
            margin: auto;        
            
            ul {
                list-style-type: none;
                font-size: 15px
            }
            
            ul li::before {
                content: "•";
                color: $secondary;
                font-size: 1em;
                margin: 10px;
            } 
        }
}

.portfolioContainer {
    padding: 100px;
    width: 180vh;
    height: 100vh;
    min-height: 100vh;
    margin: auto;
    h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    a {
       text-decoration: none;
       color: $primary; 
       font-weight: bold;
    }
}


.aboutContainer {
    padding: 100px;
    width: 180vh;
    height: 100vh;
    min-height: 100vh;
    margin-top: 100px;
        h1 {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 60px;
        }
        .aboutUs {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-column-gap: 20px;

            h5 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }

            img {
                max-width: 100%;
            }
        }
}