/* presets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables colores */
$background: rgb(244, 244, 244);
$primary: rgb(48, 48, 48);
$secondary: rgb(221, 144, 18);
$third: rgba(48, 125, 67, 0.808);


.title {
    font-family: 'Nunito Sans', sans-serif;
} 

.description{
    font-family: 'Quicksand', sans-serif;   
}

.backColor {
    background-color: $background ;
}

.gridContainer {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 100vh;
    height: 100vh;
    min-height: 100vh;
      
}